@keyframes employee-hover {
    from {background-color: #b1b1b1;}
    to {background-color: #ececec;}
}

.employees-list {
  .employees-list-item {
    &:hover {
      background-color: #ececec;
      cursor: pointer;
      animation-name: employee-hover;
      animation-duration: 2s;
    }
  }
}
