// calendar component
@mixin ITEM_FONT {
  font-family: Helvetica, Arial, sans-serif;
}
@mixin STRIPED_BACKGROUND {
  $striped-opacity: 0.7;
  $striped-color: rgb(238, 235, 235);

  background: rgba(white, $striped-opacity)  !important;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba($striped-color, $striped-opacity),
    rgba($striped-color, $striped-opacity) 2px,
    transparent 0,
    transparent 4px
  ) !important;
}

$item-color: rgba(0, 143, 251, 0.9);
$item-color_selected: rgba(0, 143, 251, 0.65);

$item-border-size: 2.5px;
$item-border: $item-border-size solid rgba(0, 0, 0, 0.5);
$item-border_selected: $item-border-size solid rgba(0, 0, 0, 0.25);

.react-calendar-timeline {
  $main-color: #F2F7FA;
  .rct-item {
    @include ITEM_FONT;
    position: absolute;
    box-sizing: border-box;
    border-radius: 5%;
    border: $item-border;
    background: $item-color;
    padding: 5px 5px 5px 5px;
    z-index: 80;
    color: white;
    cursor: pointer;

    border-bottom: none !important;
    border-top: none !important;

    &:active {
      cursor: grab !important;
    }
    &.selected {
      background-color: $item-color_selected;
      border: $item-border_selected;
      z-index: 82 !important;
    }

    .title-project {
      text-transform: uppercase;
      margin-bottom: 3px;
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .title-task {
      font-size: 15px;
      margin-bottom: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .icon {
      transform: scale(-1, 1);
      font-size: 16px;
    }
    .resizer {
      cursor: ew-resize !important;
    }
  }
  .group-item {
    @include ITEM_FONT;
    line-height: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    .name {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 5px;
    }
    .position {
      font-size: 13px;
      color: #9DA6AB;
    }
  }
  .today-marker {
    position: absolute;
    pointer-events: none;
    background-color: #4443BB;
    bottom: 0;
    top: 0;
    width: 2.5px;
    opacity: 0.3;
  }
  .rct-header {
    // header with dates
    .rct-label {
      background: white !important;
      &:hover {
        background: lighten($main-color, 2) !important;
      }
    }
    // header with month
    .rct-label-group {
      color: black;
      background: $main-color;
      border-top: 1px solid #bbb;
      &:hover {
        background: lighten($main-color, 1.4);
      }
    }
  }
  .rct-sidebar-header {
    background: white;
    color: black;
    border-top: 1px solid #bbb;
  }
  // groups: people and projects
  .rct-sidebar-row {
    cursor: pointer;
    background-color: $main-color !important;
    &:hover {
      background-color: white !important;
    }
  }
  .rct-horizontal-lines {
    z-index: 81 !important;
    & * {
      background: transparent !important;
    }
  }
  .rct-vertical-lines {
    // weekends
    .rct-day-6, .rct-day-0 {
      @include STRIPED_BACKGROUND;
      z-index: 80 !important;
      padding-right: 0 !important;
    }
  }
}

.calendar-popup {
  padding: 5px !important;
  .buttons-container {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 10px;
    .button {
     width: 89px;
      &.green {
        background-color: #4caf50;
        color: #ffffff;
        &:hover {
          background-color: #207324;
        }
      }
      &.purple {
        background-color: #194f7d;
        color: #ffffff;
        &:hover {
          background-color: #1b3b56;
        }
      }
    }
  }
}
