.header {
  background: #ffffff;
  a {
    text-decoration: none !important;
  }
  .search-panel {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    padding: 10px;
    .search-panel__autocomplete {
      width: 100%;
      padding-left: 30px;
    }

    .search-panel__sort {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #1d7cd2;
      &:hover {
        color: #41709a;
      }

      .sort-down {
        transform: rotate(180deg);
      }
    }
  }
}

.tooltip-sort__popover {
  .tooltip-sort__tooltip {
    background: #1d7cd2;
  }
}